.discounts{
  background-color: $white;
  & .main-slider__slick-dots{
    bottom: 15px;
  }
  &__content{
    display: flex;
    flex-direction: column;
  }
  &__slider-wrap{
    padding-bottom: 60px;
  }
  &__slider{
    padding-bottom: 40px;
    &-slick-dots{
      position: absolute;
      display: flex;
      justify-content: center;
      margin: 0 auto;
      font-size: 0;
      transform: translate(-50%,0);
      left: 50%;
      margin-right: -50%;
      bottom: 0px;
      & button{
        display: block;
        margin: 0 6px;
        font-size: 0;
        min-width: none;
        width: 11px;
        height: 11px;
        background-color: #fff;
        border: 1px solid lightgrey;
        border-radius: 50%;
        transition: background-color .2s ease-in-out;
        &:hover{
          background-color: grey;
        }
      }
      & .slick-active button {
        background-color: $yellow;
        width: 30px;
        border-color: $white;
        border-radius: 5px;
      }
    }
  }
}
//стили управляющих стрелок слайдера товаров
.discounts__slider-prev,
.discounts__slider-next{
  position: absolute;
  display: inline-block;
  padding: 7px 12px;
  border: 2px solid $delColor;
  top: 145px;
  font-size: 2rem;
  color: $delColor;
  transition: all .3s ease;
  &:hover{
    border-color: $red;
    color: $red;
  }
}
.discounts__slider-prev{
  left: 0px;
  z-index: 9;
}
.discounts__slider-next{
  right: 0px;
}
// .discounts__slider:hover .discounts__slider-prev
// .discounts__slider:hover .discounts__slider-next{
//   opacity: 1;
//   visibility: visible;
// }

.discounts__slider{
  position: relative;
  & .slick-slide {
    margin-left:27px;
  }
  & .slick-list {
    margin-left:-27px;
  }
  //выровнять слайды по высоте
  // & .slick-track {
  //   display: flex;
  //   align-items: flex-end;
  // }
}
@media only screen and (min-width: 767px){
  .discount-prev,
  .discount-next{
    display: none;
  }
}
@media only screen and (min-width: 991px){
  .discounts{
    &__slider-wrap{
      flex-grow: 2;
      margin-left: 27px;
      padding-bottom: 0;
    }
    &__content{
      flex-direction: row;
    }
  }
  .discount-prev,
  .discount-next{
    position: absolute;
    top: -64px;
    font-size: 1.7rem;
    color: #222;
  }
  .discount-prev{
    right: 20px;
  }
  .discount-next{
    right: 0px;
  }
}