.nav{
	position: absolute;
  display: flex;
	flex-direction: column;
	top: 120px;
	opacity: 0;
	visibility: hidden;
	margin-right: 2px;
	font-size: 1.5rem;
}
@media only screen and (min-width: 991px){
  .nav{
		position: static;
    display: flex;
		justify-content: space-between;
		width: 100%;
		margin-right: 20px;
		opacity: 1;
		visibility: visible;
    &__list{
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 10px 0;
		}
		&__item{
			position: relative;
			padding: 0 5px;
		}
		&__link{
			display: block;
			padding: 15px 10px;
			font-size: 1.3rem;
			color: $titleColor;
			font-weight: 500;
			transition: all .3s ease-in-out;
			text-transform: uppercase;
			&--subtitle{
				position: relative;
				padding-right: 12px;
				&::after{
					position: absolute;
					display: block;
					content: '';
					top: 46%;
					right: 2px;
					width: 5px;
					height: 1px;
					transform: rotate(45deg);
					background-color: $titleColor;
				}
				&::before{
					position: absolute;
					display: block;
					content: '';
					top: 46%;
					right: -1px;
					width: 5px;
					height: 1px;
					transform: rotate(-45deg);
					background-color: $titleColor;
				}
			}
			&--sub-nav{
				
			}
		}
		&__sub1-list{
			position: absolute;
			top: 40px;
			opacity: 0;
			visibility: hidden;
			background-color: $headerBottomBgColor;
			pointer-events: none;
			width: max-content;
			padding: 15px 20px;
			box-shadow:0 2px 35px rgba(0,0,0,0.1);
			z-index: 13;
			& a{
				color: $content-color;
			}
		}
  }
  .nav__item:hover .nav__sub1-list {
    border-top: 35px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
		color: $content-color;
  }
	.nav__item:hover{
		& a.nav__link{
			color: $red;
			&::before, &::after{
				background-color: $red;
			}
		}
		& .nav__sub1-list a.nav__link{
			color: $titleColor;
		}
	}
	a.nav__link--sub-nav{
		color: $titleColor;
	}
	.nav__sub1-item:hover a{
		color: $red;
	}
	.nav__list .nav__item:first-of-type .nav__link{
		padding-left: 0;
	}
}
.nav .nav__sub1-list a.nav__link{
	display: block;
	font-weight: 400;
	padding: 6px 0;
	font-size: 1.4rem;
	transition: all .3s ease-in-out;
	color: $titleColor;
	text-transform: none;
	&:hover{
		color: $red;
	}
}